<h1>hola {{persona}}</h1>
<div class = "row">
    <p class="text.end">Hola {{persona}}!! <a class="btn btn.danger" href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign.out.alt"></i></a></p>
</div>